body {
	overflow:hidden;
	height: 100%;
	width: 100%;
}

#menu {
	margin-top: 2%;
	height: 12%;
	width: 100%;
	position: absolute;
	z-index: 1;
}

#menu h1 {
	margin-left: 2% !important;
	font-size: 1.8em;
	text-decoration: underline;
}

button {
	margin-left: 2% !important;
}

#myMenu {
	margin-left: 2% !important;
}

#menu > ul {
	list-style-type:none;
}

#menu > ul > li {
	font-size: 1em;

}

#menu > ul > li > a {
	text-decoration: none;
	color: #000;
}


.nav-pills > li.active > a {
	background-color: #000 !important;
	color: white !important;
	font-weight: bold; 
}

#logo {
	height: 10%;
	width: 50%;
	margin-top: 2%;
	margin-left: 25%;
	margin-bottom: 20%;
}

#lang {
	list-style: none;
	position: absolute;
	right: 5%; top: 6px;
	z-index: 10;
}

#lang a {
	width: 30px;
	height: 20px;
	display: inline-block;
}

#lang .flag {
	height: 20px;
	width: 30px;
	background-size: cover;
}

video {
	border: solid 1px green;
	position: relative;
	width: 80%;
	margin-left: 12%;
}

#arrowDown1 {
	width:50%;
	margin-left: -25%;
	margin-bottom: -15%;
	-moz-animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

#arrowDown2 {
	width:50%;
	margin-left: -25%;
	margin-bottom: -15%;
	-moz-animation-delay: .33333333333333333333s;
	-moz-animation-iteration-count: infinite;
	-webkit-animation-delay: .33333333333333333333s;
	-webkit-animation-iteration-count: infinite;
}

#arrowDown3 {
	width:50%;
	margin-left: -25%;
	margin-bottom: -15%;
	-moz-animation-delay: .66666666666666666666s;
	-moz-animation-iteration-count: infinite;
	-webkit-animation-delay: .66666666666666666666s;
	-webkit-animation-iteration-count: infinite;
}

#town {
	margin-top: 10%;
	width: 100%;
	margin-bottom: 5%;
}

h1 {
	margin-left: 40% !important;
}

#dataviz1 {
	width: 100%;
}

div.container {
  text-align: center;
  margin: 100px auto 0;
}

.container > a {
  display: inline-block;
  background-color: black;
  color: #fff;
  font-size: 1.5em;
  font-family: Courier, sans-serif;
  padding: 1em 5em;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0.5em;
  border-bottom: 0.25em solid #0f5177;
  -moz-transition: 0.1s;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  box-shadow: 0 2px 3px #ccc;
  position: relative;
}

.container > a:hover {
  background-color: grey;
  border-bottom-width: 0;
  margin-top: 0.2em;
}


#pageOne {
	height: 100%;
	background-image: url(../img/carte.png);
	background-size: 100% 100%;
}

#pageTwo {
	height: 100%;
	background-image: url(../img/carte.png);
	background-size: 100% 100%;
}

#pageThree {
	height: 100%;
	background-image: url(../img/carte.png);
	background-size: 100% 100%;
}

#pageFour {
	height: 100%;
	background-image: url(../img/carte.png);
	background-size: 100% 100%;
}

#principal2 {
	height: 800px;
}

#principal21 {
	height: 400px;
}

#principal22 {
	height: 400px;
}


#dataviz2 {
	width: 100%;
}

#dataviz3 {
	width: 100%;
}

/* VELOCITY */

canvas {
	width: 600px; height: 600px;
	position: absolute; top: 0;
	left: 50px; transform: rotate(20deg);
}
