*{
	/*margin:0;*/
	padding:0;
	outline-width: 0;
}

/*html,body {background:url(../img/texture/1337.png) repeat;}*/
html,body {
	background-color: #FFFFFF;
}

html {
	background-color:#1d1d1b;
	font-family: 'brandon_grotesquebold', sans-serif;
	font-size:12px;
	font-weight:normal;
	font-weight:lighter;
	color:#FFF;
	-webkit-text-size-adjust: none;
	
}

body {
	overflow:hidden;
}

.fancybox-title iframe {
    min-height: 30px;
    vertical-align: middle;
}


#global-container { width:100%;height:100%;overflow: hidden;}


#header {
/*	width:960px;*/
	position: absolute;
	top:0;
	left:10%;
	z-index: 100;
}

#header #logo {
	
	position: absolute;
	top:55px;
	overflow:hidden;
	height:70px;
	width:165px;
	cursor:pointer;
	padding:0;
	margin:0;
}


#header #logo img{position:absolute; width:100%; z-index:1;}

.logopage{
position:absolute;
top:23%;
left:50%;
right:50%;
width:446px;
margin-top:-41px;
margin-left:-223px;
}

.logopagecontact{
position:absolute;
top:11%;
left:50%;
right:50%;
width:446px;
margin-top:-41px;
margin-left:-223px;
}

#menu{position:fixed;top:25px;right:40px;font-size:10px;color:#1d1d1b;z-index:1;}}
#menu ul li{ list-style-type: none; height:13px;}
#menu .pageName{text-align: right;display:inline-block;width:100px;vertical-align:1px;padding:1px 5px;}
#menu ul {list-style-type:none;}
#menu ul li ul{display:inline-block;width:100px;}
#menu ul li ul li{display:block;position: relative;width:10px;height:10px;float:left;margin-right:3px;}
#menu ul li ul li a{
	position: absolute;
	top:0;
	left:0;
	display:block;
	background:#1d1d1b;
	width:10px ;
	height:10px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
    opacity : 0.2;
    filter : alpha(opacity=20);
	cursor:pointer;
}

#menu ul li ul li a.current{
    opacity : 0.8;
    filter : alpha(opacity=80);
}



.page{
	height:650px;
	width:100%;
	overflow: hidden;

	position: relative;
}

.page .floatBlock{
	
	float:left;
	width:100%;
	height:100%;
	overflow: hidden;
	position: relative;
}

.contentBlock{
	position:absolute;
	left:35%;
	top:13%;
}

.yearVintageBlock{top:60px;}
.yearVintageBlock div{width:420px;}

.fleche{
	position:absolute;
	top:255px;
	width:49px;
	height:133px;
	cursor:pointer;
	display:block;
	z-index:999;
	display:none;
}


a#flecheG:hover{background: url('../img/common/fleche_g_on.png') no-repeat;}
#flecheG{left:30px;background: url('../img/common/fleche_g.png') no-repeat;}
a#flecheD:hover{background: url('../img/common/fleche_d_on.png') no-repeat;}
#flecheD{right:30px;background: url('../img/common/fleche_d.png') no-repeat;}

#IDDroite { top:0px;}
#PRDroite { top:0px;}
#EDDroite { top:0px;}
#WEDroite { top:0px;}
#BLDroite { top:0px;}

.yearImageBlock { top:0px;}

.colorImg { display:none;position: absolute;left:0;top:0;z-index: 2;}
.bwImg { position: absolute;left:0;top:0;}


div:hover {
    opacity : 1;
}

.img_1 {position: absolute; left:50%; top:50%; margin-left:-368px; margin-top:-25px;  }
.img_1 img{ width:188px;height:188px; 
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
	border: 3px solid #9e9e9e; }

.img_2 {position: absolute; left:50%; top:50%; margin-left:-94px; margin-top:-25px; }
.img_2 img{ width:188px; height:188px;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
	border: 3px solid #9e9e9e; }

.img_3 {position: absolute; left:50%; top:50%; margin-left:180px; margin-top:-25px; }
.img_3 img{ width:188px;  height:188px;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
	border: 3px solid #9e9e9e; }

.img_4 {position: absolute; left:50%; top:50%; margin-left:-368px; margin-top:213px; }
.img_4 img{ width:188px; height:188px;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
	border: 3px solid #9e9e9e; }
	
.img_5 {position: absolute; left:50%; top:50%; margin-left:-94px; margin-top:213px;  }
.img_5 img{ width:188px; height:188px;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
	border: 3px solid #9e9e9e; }

.img_6 {position: absolute; left:50%; top:50%; margin-left:180px; margin-top:213px;  }
.img_6 img{ width:188px; height:188px;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
	border: 3px solid #9e9e9e; }

.img_7 {position: absolute; left:50%; top:50%; margin-left:230px; margin-top:15px;  }
.img_7 img{ width:188px; height:187px;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
	border: 3px solid #9e9e9e; }

#twitter {position: absolute;
left:50%;
top:34%;
width:85px;
height:85px;
margin-left:-315px;
 }
 
#facebook {position: absolute;
left:50%;
top:34%;
width:85px;
height:85px;
margin-left:230px;
 }

#behance {position: absolute;
left:50%;
top:34%;
width:85px;
height:85px;
margin-left:150px;
margin-top:-150px;
 }

#vimeo {position: absolute;
left:50%;
top:34%;
width:85px;
height:85px;
margin-left:-255px;
margin-top:150px;
 }

/* ----------------------------- */
/* FONT */
/* ----------------------------- */

@font-face {
    font-family: 'brandon_grotesquebold';
    src: url('../font/brandon_bld-webfont.eot');
    src: url('../font/brandon_bld-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/brandon_bld-webfont.woff') format('woff'),
         url('../font/brandon_bld-webfont.ttf') format('truetype'),
         url('../font/brandon_bld-webfont.svg#brandon_grotesquebold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'brandon_grotesque_regularRg';
    src: url('../font/brandon_reg-webfont.eot');
    src: url('../font/brandon_reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/brandon_reg-webfont.woff') format('woff'),
         url('../font/brandon_reg-webfont.ttf') format('truetype'),
         url('../font/brandon_reg-webfont.svg#brandon_grotesque_regularRg') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'brandon_grotesquethin';
    src: url('../font/brandon_thin-webfont.eot');
    src: url('../font/brandon_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/brandon_thin-webfont.woff') format('woff'),
         url('../font/brandon_thin-webfont.ttf') format('truetype'),
         url('../font/brandon_thin-webfont.svg#brandon_grotesquethin') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* ----------------------------- */
/* IPAD */
/* ----------------------------- */


@media
 only screen and (device-width: 768px) {
	 
.img_1 img{ border:none !important; }
     

.img_2 img{ border:none !important; }

.img_3 img{ border:none !important; }

.img_4 img{ border:none !important; }

.img_5 img{ border:none !important; }

.img_6 img{ border:none !important; }

.img_7 img{ border:none !important; }

#header #logo img{widht:80% !important;}


body {
	overflow:none !important;
}

html {
	overflow:none !important;
}
	 
/*
 For general iPad layouts */
}
@media
 only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)
{
/*
 For portrait layouts only */
}
@media
 only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)
{
/*
 For landscape layouts only */
}