@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;    
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


/* Custom CSS
 * --------------------------------------- */

#header {
	position: absolute;
	top:0;
	left:10%;
	z-index: 100;
}

#header #logo {
	
	position: absolute;
	top:55px;
	overflow:hidden;
	height:50px;
	width:50px;
	cursor:pointer;
	padding:0;
	margin:0;
	z-index:1;
}


#header #logo img{position:absolute; width:90%;}

body{
	font-family: arial,helvetica;
	color: #333;
	color: rgba(0,0,0,0.5);
}

.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}

h1{
	font-size: 5em;
	font-family: arial,helvetica;
	color: #fff;
	margin:0;
	padding:0;
}

h2{
	font-size: 3em;
	font-family: arial,helvetica;
	color: #fff;
	margin:0;
	padding:0;
}

p{
	font-size: 2em;
}

.intro p{
	width: 50%;
	margin: 0 auto;
	font-size: 1.5em;
}

.section{
	text-align:center;
}

#section0 .layer{
	position: absolute;
	z-index: 2;
	width: 100%;
	left: 0;
	top: 43%;
	height: 100%;
}

#menu{position:fixed;top:25px;right:40px;font-size:10px;color:#1d1d1b;z-index:1;}}
#menu ul li{ list-style-type: none; height:13px;}
#menu .pageName{text-align: right;display:inline-block;width:100px;vertical-align:1px;padding:1px 5px;}
#menu ul {list-style-type:none;}
#menu ul li ul{display:inline-block;width:100px;}
#menu ul li ul li{display:block;position: relative;width:10px;height:10px;float:left;margin-right:3px;}
#menu ul li ul li a{
	position: absolute;
	top:0;
	left:0;
	display:block;
	background:#1d1d1b;
	width:10px ;
	height:10px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-o-border-radius:2px;
	border-radius:2px;
    opacity : 0.2;
    filter : alpha(opacity=20);
	cursor:pointer;
}

#menu ul li ul li a.current{
    opacity : 0.8;
    filter : alpha(opacity=80);
}
