<h1>Welcome on the Illinda Project</h1>
<p>You can see the development of the website on /Khaleesi and of the web application for the data on the links below.</p>
<%= link_to 'Wifi Users', wifiusers_path %>
<%= link_to 'Consos Wifi', wificonsos_path %>
<%= link_to 'Trafic Gowex', traficgowexes_path %>
<%= link_to 'Tweets in real time about Bordeaux', tweets_path %>
