*{
	/*padding:0;
	outline-width: 0;*/
}

html,body {
	background-color: #2f4155;
}

html {
	font-family: sans-serif;
	font-size:12px;
	font-weight:normal;
	font-weight:lighter;
	color:#FFF;
	-webkit-text-size-adjust: none;
	
}

body {
	overflow:hidden;
	height: 100%;
	width: 100%;
}

.floatBlock h1 {
	text-align: center;
	vertical-align: middle;
	color: black;
	margin:250px auto 0 auto;
}

#global-container {width:100%;height:100%;overflow: hidden;}

.page{
	height:650px;
	width:100%;
	overflow: hidden;

	position: relative;
}

.page .floatBlock{
	float:left;
	width:100%;
	height:100%;
	overflow: hidden;
	position: relative;
}

/* Header fixe - Doit disparaitre a la 1ere page */

header {
	/*top: 0px;
	left: 0px;
	display: none;*/
	width: 100%;
	height: 125px;
	position: fixed;
	z-index: 1;
	/*border: solid 1px green;*/
	background: #35495f;
}

#logo_illinda {
	height: 50px;
	width: auto;
	margin-left: 10px;
	margin-top: 40px;
	/*position: fixed;
	display: inline-block;*/
	/*border: solid 1px red;*/
}

#logo_header{
	margin-top: 25px;
	position: fixed;
	height: 80px;
	width: 16%;
	padding-left: 0%;
	/*margin-left: 30%;
	margin-top: 2%;*/
	/*position: absolute;
	display:  inline-block;*/
	/*border: solid 1px green;*/
}

/* Menu Nav */

#menu {/*border: solid 1px green;*/position:fixed;top:25px;right:40px;font-size:10px;color:#1d1d1b;z-index:1;}}
#menu ul li {list-style-type: none; height:13px;}
#menu .pageName {color:#ff6b6b;text-transform: uppercase; text-align: right; display:inline-block; width:100px;vertical-align:1px;padding:1px 5px;}
#menu ul {list-style-type:none;}
#menu ul li ul{display:inline-block;width:110px; /*border: solid 1px green;*/}
#menu ul li ul li{display:block;position: relative;width:10px;height:10px;float:left;margin-right:3px;}
#menu ul li ul li a{
	position: relative;
	top:0;
	left:0;
	display:block;
	background:#fff;
	width:10px ;
	height:10px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-o-border-radius:2px;
	border-radius:2px;
    opacity : 0.4;
    cursor:pointer;
}

a.current{
    opacity : 0.8;
    filter : alpha(opacity=80);
}

/* Page SAS */

#page_1 .floatBlock {
	background-image: url(../img/back.png);
	background-size: cover;
}

#logo {
	padding-top: 8%;
	padding-left: 8%;
	/*margin: 15% auto auto auto;
	display: block;*/
	height: 30px;
	width: auto;
}

#video_accueil{
	/*border: solid 1px green;*/
	margin-top: 8%;
	height: 350px;
}

video {
	height: 100%;
	width: 100%;
	margin-left: 10%;
}

#intro{
	/*border: solid 1px pink;*/
	/*display: block;*/
	color: #fff;
	margin-top: 30px;
}

#intro p{
	/*border: solid 1px red;*/
	width: 650px;
	text-align: center;
	margin-left: 15%;
}

/* Page Ville1 */

#page_2 #block_1 {
	background-color: #e5e5e5;
}

.wifi_on{
	background-image: url(../img/wifi_on.png);
	background-size: cover;
	/*border: solid 1px red;*/
	margin-top: 150px;
	margin-left: 20px;
	height: 63px;
	/*width: 250px;*/
}

.wifi_off{
	background-image: url(../img/wifi_off.png);
	background-size: cover;
	margin-top: 150px;
	margin-left: 20px;
	height: 63px;
	/*width: 250px;*/
}

.zone21Wifi{
	/*border: solid 1px red;*/
	background-image: url(../img/zone21Wifi.png);
	background-size: cover;
	/*width: 550px;*/
	height: 480px;
	margin-left: 20px;
}

.hood_off{
	background-image: url(../img/hood_off.png);
	background-size: cover;
	/*border: solid 1px red;*/
	margin-top: 150px;
	height: 63px;
	/*width: 250px;*/
	margin-left: 20px;
}

.hood_on{
	background-image: url(../img/hood_on.png);
	background-size: cover;
	margin-top: 150px;
	height: 63px;
	/*width: 250px;*/
	margin-left: 20px;
}

.zone21Hood{
	background-image: url(../img/zone21Hood.png);
	background-size: cover;
	/*width: 550px;*/
	height: 480px;
	margin-left: 20px;
}

#article2 {
	background-color: white;
	height: 380px;
	width: 550px;
}

#article2 h1 {
	text-align: left;
	width: 100%;
	color: #ff6b6b;
	font-size: 2.4em;
	margin-bottom: 2%;
}

#article2 p {
	width: 78%;
	color: #35495f;
	font-size: 1em;
	text-align: justify;
}

#topTwitter {

	width: 550px;
	padding-left: 0px !important;
	padding-right: 0px !important;
}
