*{
	padding:0;
	outline-width: 0;
}


html,body {
	background-color: #8a8a8a;
}

html {
	background-color:#c0c0c0;
	font-family: 'brandon_grotesquebold', sans-serif;
	font-size:12px;
	font-weight:normal;
	font-weight:lighter;
	color:#FFF;
	-webkit-text-size-adjust: none;
	
}

body {
	overflow:hidden;
}

h1 {
		font-size: 5em;
		font-family: arial,helvetica;
		color: #fff;
		margin:0;
		padding:0;
}

.section{
	text-align:center;
}

#fp-nav{position:fixed;top:25px;right:40px;font-size:10px;color:#1d1d1b;z-index:1;}}
#fp-nav ul li{ list-style-type: none; height:13px;}
#fp-nav .pageName{text-align: right;display:inline-block;width:100px;vertical-align:1px;padding:1px 5px;}
#fp-nav ul {list-style-type:none;}
#fp-nav ul li ul{display:inline-block;width:100px;}
#fp-nav ul li ul li{display:block;position: relative;width:10px;height:10px;float:left;margin-right:3px;}
#fp-nav ul li ul li a{
	position: absolute;
	top:0;
	left:0;
	display:block;
	background:#1d1d1b;
	width:10px ;
	height:10px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-o-border-radius:2px;
	border-radius:2px;
    opacity : 0.2;
    filter : alpha(opacity=20);
	cursor:pointer;
}

#fp-nav ul li ul li a.current{
    opacity : 0.8;
    filter : alpha(opacity=80);
}