body {
	overflow:hidden;
	height: 100%;
	width: 100%;
}

#menu {
	height: 15%;
	width: 100%;
	position: fixed;
	z-index: 1;
}

#menu ul {
	list-style-type:none;
}

#frontVideo {
	position: relative;
	height: 50%;
	width: 50%;
	margin-left: 25%;
	z-index: 1;
}

#backgroundVideo {
	position: absolute;
	height: auto;
	width: 100%;
	z-index: 0;
	background-size: auto;
}

h1 {
	margin-left: 40% !important;
}