html {
	font-family: sans-serif;
	font-size:12px;
	font-weight:normal;
	font-weight:lighter;
	color:#FFF;
	-webkit-text-size-adjust: none;
	
}

body {
	overflow:hidden;
	height: 100%;
	width: 100%;
	background-color: red;
}

.slide h1 {
	text-align: center;
}

/* Header fixe - Doit disparaitre a la 1ere page */

header {
/*	display: none !important;*/
	width: 100%;
	height: 15%;
	position: fixed;
	z-index: 1;
	/*border: solid 1px green;*/
	background: #35495f;
}

.logo_illinda {
	padding-left: 2%;
	padding-top: 2%;
	/*border: solid 1px red;*/
}

.logo_illinda img {
	/*border: solid 1px red;*/
	height: 80%;
	width: 80%;
}


.logo_header{
	padding-top: 1.5%;
/*	border: solid 1px green;*/
}

/* Menu Nav */

#myMenu {
	font-family: Trebuchet, sans-serif;
	margin-top: 5%;
	list-style-type:none;
	margin-right: 4%;
}

#myMenu li {
	background-color: #fff;
	text-align: right;
	padding-right: 10%;
}



a {

	color: #ff6b6b !important;
}


/*#menu {position:fixed;top:25px;right:40px;font-size:10px;color:#1d1d1b;z-index:1;}}
#menu ul li {list-style-type: none; height:13px;}
#menu .pageName {color:#ff6b6b;text-transform: uppercase; text-align: right; display:inline-block; width:100px;vertical-align:1px;padding:1px 5px;}
#menu ul {list-style-type:none;}
#menu ul li ul{display:inline-block;width:110px;}
#menu ul li ul li{display:block;position: relative;width:10px;height:10px;float:left;margin-right:3px;}
#menu ul li ul li a{
	position: relative;
	top:0;
	left:0;
	display:block;
	background:#fff;
	width:10px ;
	height:10px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-o-border-radius:2px;
	border-radius:2px;
    opacity : 0.4;
    cursor:pointer;
}

a.current{
    opacity : 0.8;
    filter : alpha(opacity=80);
}*/

/* Page SAS */

#accueil_sas {
	padding-top: 5%;
	background-image: url(../img/back.png);
	background-size: cover;
}

.logo_sas img {
	background-size: cover;
	margin: auto;
	padding-left: 70%;
}

#video_accueil{
	/*border: solid 1px green;*/
	margin-top: 4%;
	height: 100%;
}

video {
	height: 100%;
	width: 100%;
}

#baseline{
	/*border: solid 1px pink;*/
	color: #fff;
	margin-top: 3%;
}

#baseline p{
	/*border: solid 1px red;*/
	font-size: 1em;
	width: 650px;
	text-align: center;
	margin: auto;
	/*margin-left: 15%;*/
}

/* Page Ville1 */

#accueil_ville1 {
	background-color: #e5e5e5;
}

#btnA1 {
	height: 6.5%;
	margin-top: 10%;
	margin-left: 2%;
/*	border: solid 1px pink;*/
}

.wifiBtn{
	height: 100%;
	width: 100%;
}

.hoodBtn{
	height: 100%;
	width: 100%;
}

.btn-lg.active {
	background-color: #ff6b6b !important;
}

#zoneA1 {
	/*border: solid 1px pink;*/
	margin-left: 2%;
	height: 75% !important;
	width: auto;
}

.zoneA1Wifi {
	height: 100%;
	width: 100%;
	background-image: url(../img/zone21Wifi.png);
	background-size: cover;
}

.zoneA1Hood {
	height: 100%;
	width: 100%;
	background-image: url(../img/zone21Hood.png);
	background-size: cover;
}

#zoneA2{
	height: 100% !important;
	/*width: auto;*/
}

#infoA1 {
	/*border: solid 1px pink;*/
	margin-left: 2%;
	margin-right: 2%;
	background-color: white;
	height: 100% !important;
	width: auto;
}

#articleAccueil {
	/*border: solid 1px green;*/
	height: 80%;
	border-right: solid 1px #ff6b6b;
	padding-right: 2%;
}

article h1 {
	padding-left: 2%;
	text-align: left;
	width: 100%;
	color: #ff6b6b;
	font-size: 2em;
	margin-bottom: 2%;
}

article p {
	padding-left: 2%;
	width: 100%;
	color: #35495f;
	font-size: 1em;
	text-align: justify;
}

#topTwitter {
	height: 25%;
	width: 100%;
}

/* Page Ville2 */

#accueil_ville2 {
	background-color: #e5e5e5;
}

#btnA2 {
	height: 6.5%;
	margin-top: 10%;
	margin-left: 2%;
/*	border: solid 1px pink;*/
}

.a21Btn{
	height: 100%;
	width: 100%;
}

.a22Btn{
	height: 100%;
	width: 100%;
}

#zoneA21 {
	/*border: solid 1px pink;*/
	background-color: #fff;
	margin-left: 2%;
	margin-right: 1%;
	height: 75% !important;
	width: auto;
}

