body {
	overflow:hidden;
	height: 100%;
	width: 100%;
}

#menu {
	height: 15%;
	width: 100%;
	position: fixed;
	z-index: 1;
}

#menu ul {
	list-style-type:none;
}

#logo {
	height: 10%;
	width: 50%;
	margin-left: 25%;
	margin-bottom: 25%;
}

video {
	border: solid 1px green;
	position: relative;
	width: 90%;
	margin-left: 5%;
}

#town {
	width: 100%;
}

h1 {
	margin-left: 40% !important;
}

canvas {
	margin: auto;
	text-align: center;
}